.admin-dashboard-cont{
    height: 1000px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.admin-sidebar{
    position: fixed;
    left: 0;
}

.admin-sidebar-path{
    flex: 1;
}

.admin-dashboard{
    flex: 6.5;
}