.photo-cont{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    overflow: auto;
    overscroll-behavior: contain;
}

.photo-grid-section-top{
    position: fixed;
    padding: 30px;
}

.photo-grid-section-bottom{
    margin-top: 40px;
    justify-items: center;

}

.photo-grid-bt{
    
    border: none;
    border-radius: 50px;
    background-color: white;
    padding: 15px;
}
.photo-grid-bt:hover{
    background-color: gainsboro;
}

.photo-row {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 800px;
  }
  
.photo-column {
    flex: 1;
    padding: 10px 10px;
}
  
.photo-column img {
    width: 100%;
}
